<h2 class="text-danger">Delete</h2>
<fieldset>
    <legend>log</legend>
    
      

    <% form_for('log', {controller : '/log', action: '/delete'}, function(f){ %>
        <%- f.hidden_field("id") %>
        <p>
            <%- f.submit("Delete", {class : 'btn btn-danger'}) %>
        </p>
    <% }) %>
</fieldset>

<%- link_to('back to list', '/log', {class : 'btn btn-primary'}) %>