<h2 class="text-info">Details</h2>
<fieldset>
    <legend>log</legend>

	

<%- link_to('edit', '/log/edit/'+log.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/log', {class : 'btn btn-primary'}) %>
