<h2 class="text-info">Details</h2>
<fieldset>
    <legend>dossierOeuvre</legend>

	

<%- link_to('edit', '/dossierOeuvre/edit/'+dossierOeuvre.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/dossierOeuvre', {class : 'btn btn-primary'}) %>
