<!-- faire un appel AJAX --> 
<div class="userReport ">
	<button type="button"
			id="userReport" 	
			class="btn btn-danger"
			onClick="popReport()" 
			data-toggle="popover"
			data-container="body"
			data-placement="top"
			title="Votre avis m'interesse!"
			data-html="true"
			
						 >
		<span class="glyphicon glyphicon-envelope"></span>
	</button>
</div>


<div id="popoverContentReport" class="hide">


	<form  id="userReportForm" enctype='application/json' >
			 
		<input id="userReport[id]" name="userReport[id]" type="hidden" value=""/>
		<input id="userReport[uid]" name="userReport[uid]" type=hidden value='<%- req.user.id %>'>
		<input id="titre" name="userReport[titre]" type='text' placeholder='Sujet'/>
		<select id="userReport[type]" name="userReport[type]">
			<option value='bug'>Bug</option>
			<option value='question'>Question</option>
			<option value='idee'>Idée</option>
		</select>
		<textarea  id="userReport[message]" name="userReport[message]" placeholder='Votre message à mon intention.'></textarea>
		<button class="btn btnAdd userReportSubmit">Envoyer</button>
	</form>
	
</div>
