<h2 class="text-warning">Edit champs</h2>

<% form_for("champs", {controller: '/champs', action: '/edit'}, function(f){ %>
  
  <%- f.hidden_field("id") %>

  

  <%- f.submit("Edit", {class : 'btn btn-warning'}) %>
<% }) %>

<%- link_to('back to list', '/champs', {class : 'btn btn-primary'}) %>
