<h2 class="text-success">Create museum</h2>

<% form_for("museum", {controller: '/museum', action: '/create'}, function(f){ %>
	
	<%- f.hidden_field("id") %>

	

	<%- f.submit("Save", {class : 'btn btn-success'}) %>
<% }) %>

<%- link_to('back to list', '/museum', {class : 'btn btn-primary'}) %>