<h2 class="text-info">Details</h2>
<fieldset>
    <legend>museum</legend>

	

<%- link_to('edit', '/museum/edit/'+museum.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/museum', {class : 'btn btn-primary'}) %>
