@import "variables"
@import "helpers"
@import "menu"
@import "login"
@import "listing"
@import "oeuvre"
@import "userreport"
@import "footer"

html
	position: relative
	min-height: 100%

body
	background-color: bgColor
	margin-bottom: 60px



.navbar.nav-menu
	background-color: navbarColor
	color: navbarTextColor !important

.btn.btnAdd
	background-color: navbarColor
	color: navbarTextColor

#app
	margin-left: 40px !important
	margin-right: 40px
	overflow: hidden

