@import "variables"
@import "helpers"
@import "menu"
@import "login"
@import "oeuvre"
@import "footer"

body
	background-color: bgColor

.navbar.nav-menu
	background-color: navbarColor
	color: navbarTextColor !important



