
div#car.row
	height: 300px

div#carouselContainer
	min-height: 100%
	max-height: 300px !important
	margin-top: 15px
	margin-left: 15px
	overflow: hidden
	
form#imageUploadForm
	background-color: none
	margin-left: 40px
	

img 
	max-width: 100%
	min-height: 100%
	

@media 
	img
		width: auto
		height:auto


.uploadImage
	margin-top: 60 px