
div#car.row
	height: 300px

div#carouselContainer
	height: 300px
	margin-top: 15px
	margin-left: 15px
	overflow: visible


	
form#imageUploadForm
	background-color: none
	margin-left: 40px
	

img 
	z-index: -100
	max-width: 300px;



@media 
	img
		width: auto
		max-height: 300px


.uploadImage
	margin-top: 60 px

table#imagesList
	min-width: 100%
tr.imageLine
	width:80%

td.imageName
	overflow: hidden
	