@font-face
	font-family: Satisfy
	font-style: cursive
	src: url(http://fonts.googleapis.com/css?family=Satisfy)

@font-face
	font-family: Ubuntu
	font-style: normal
	src: url(http://fonts.googleapis.com/css?family=Ubuntu:300)
