.navbar.navbar-default.navFooter.navbar-static-bottom
	background-color: navbarColor
	color: navbarTextColor
	margin-top: 50px !important
	margin-left: 0px
	margin-bottom: 0px
	
	width: 100% !important
	font-size: 10px
	opacity: 1

