.navbar.navbar-default.navFooter.navbar-static-bottom
	background-color: menuColor
	color: menuTextColor

	margin-left: 0px !important
	padding-left: 0px !important
	margin-bottom: 0px
	position: absolute
	left: 0
	height: 60px
	bottom: 0
	width: 100% !important
	font-size: 10px
	opacity: 1

