.loginContainer
	margin-top: 200px
	background-color: #336E7B
	border: none 
	padding: 20px 20px 20px 20px

form.flatForm input
	border: none
	height: 40px
	background-color: #22313F
	color: #FFFFFF

form.flatForm button
	border-radius: 0
	background-color: #2C3E50
	color: #FFFFFF
	height: 40px

#loginTitle
	color: #FFFFFF
	margin-bottom: 25px

#loginTitle#capitalA
	font-size: 60px