
.loginContainer
	margin-top: 10%
	nargin-left: 25%
	min-width: 25%
	background-color: navbarColor
	border: none 
	padding: 20px 20px 20px 20px

form.flatForm input
	border: none
	background-color: bgColor
	color: black


#loginTitle
	color: navbarTextColor
	margin-bottom: 25px
	font-family: brandFont

