
.loginContainer
	margin-top: 10%
	nargin-left: 25%
	min-width: 25%
	background-color: navbarColor
	border: none 
	padding: 20px 20px 20px 20px

form.flatForm input
	border: none
	height: 50px
	background-color: bgColor
	color: black

form.flatForm button
	border-radius: 0
	background-color: #DCC6E0
	color: black
	height: 50px

#loginTitle
	color: navbarTextColor
	margin-bottom: 25px

#loginTitle#capitalA
	font-size: 60px