.navbar.navbar-default.navbar-static-top.nav-menu
	background-color: navbarColor
	
.navbar.navbar-default.navbar-static-top.nav-menu a 
	color: navbarTextColor


#logo
	background-image: url('/images/logo.png')