input
	border:none
	width: 100%
	height: 75%
	margin-top:10px
	margin-bottom:10px
	background-color: bgColor
	font-size: 15px

textarea
	border: none
	padding: 1% 1% 1% 1%
	background-color: bgColor
	outline: none
	resize: none
	min-height: 200px
	width: 90%
	overflow: auto
	

textarea:focus
	background-color: bgColor
	box-shadow: none
	border: none
	opacity: 0.9
	border: 1px solid #ABB7B7 !important


div.invL
	margin-left: 50px !important

.invItems
	margin: 12px 10px 10px 10px
	padding: 10px 10px 10px 10px
	opacity: 1.0
	min-height: 60px
	overflow: visible

.invItems:hover
	opacity: 0.9

.invMisc input
.invItems input
	margin: 0px 0px 0px 0px
	background-color: bgColor
	width: 100%
	height: 100%
	outline: none
	
.invMisc input:focus
.invItems input:focus
	background-color: bgColor
	opcaity: 0.8
	box-shadow: none
	border: none


.invItems.invCaroussel
	min-height: 200px
	border: 1px solid black !important
	margin: 10px 0px 0px 0px


.invMisc
	margin: 10px 10px 10px 10px
	min-height: 50px

	
.propertyList
	margin: 1% 1% 1% 1%


p.invDescriptor
p.invItemsDescriptor
p.invMiscDescriptor
	margin: 0px 0px 0px 0px
	font-size: 12px
	position: absolue
	top: 0px
	left: 0px
	

input.invMiscValue
	font-size: 15px
	border: none
	
	

input.invMiscValue:focus
	border: none !important
	border-shadow: none
	opacity: 0.8

.invObs
	margin: 20px 20px 20px 20px
	padding: 20px 20px 20px 20px

#editMenu
	background-color: none
	min-width: 20px
	min-height: 20px
	position: fixed
	top: 0px
	right: 0px
	margin-top: 10px
	margin-right: 40px
	z-index: 1000
	opacity: 1

#editMenu:hover
	opacity: 0.5




