<h2 class="text-warning">Edit userRole</h2>

<% form_for("userRole", {controller: '/userRole', action: '/edit'}, function(f){ %>
  
  <%- f.hidden_field("id") %>

  

  <%- f.submit("Edit", {class : 'btn btn-warning'}) %>
<% }) %>

<%- link_to('back to list', '/userRole', {class : 'btn btn-primary'}) %>
