<h2 class="text-info">Details</h2>
<fieldset>
    <legend>userRole</legend>

	

<%- link_to('edit', '/userRole/edit/'+userRole.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/userRole', {class : 'btn btn-primary'}) %>
