<h2 class="text-success">Create recolement</h2>

<% form_for("recolement", {controller: '/recolement', action: '/create'}, function(f){ %>
	
	<%- f.hidden_field("id") %>

	

	<%- f.submit("Save", {class : 'btn btn-success'}) %>
<% }) %>

<%- link_to('back to list', '/recolement', {class : 'btn btn-primary'}) %>