<h2 class="text-warning">Edit recolement</h2>

<% form_for("recolement", {controller: '/recolement', action: '/edit'}, function(f){ %>
  
  <%- f.hidden_field("id") %>

  

  <%- f.submit("Edit", {class : 'btn btn-warning'}) %>
<% }) %>

<%- link_to('back to list', '/recolement', {class : 'btn btn-primary'}) %>
