<h2 class="text-info">Details</h2>
<fieldset>
    <legend>recolement</legend>

	

<%- link_to('edit', '/recolement/edit/'+recolement.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/recolement', {class : 'btn btn-primary'}) %>
