<nav class="navbar navbar-default navFooter navbar-static-bottom" role="navigation">

		<div class="container">

			<p>A musée, en dévelopement. Pour toute question, suggestion: julien.prugne@gmail.com</p>
		</div>
	</nav>