<% if(!req.user) { %>

	
<% } else { %>
<!-- TODO: limité la visibilité au utilisateurs connecté --> 
<nav class="navbar navbar-default navFooter navbar-static-bottom" role="navigation">

	<div class="container">
		<row>
			<div class="col-sm-10">
				<p>Museion, en dévelopement. Pour toute question, suggestion: julien.prugne@gmail.com - +33 782323003</p>
				<p>Attention aucune donnée stocké sur la version de demonstration n'est garantie.  </p>
			</div>
			
			</div>
		</row>
	</div>	
</nav>
	
<% } %>