
	
	<div>
		<ul>
			<li>
				<a href="#">Liste des Oeuvres </a>
				<ul>
					<li><a href="#">Par auteurs(s)</a></li>
					<li><a href="#">Par nom</a></li>
					<li><a href="#">Par date</a></li>
				<ul>
			</li>
		</ul>
		<span><button class="btn btn-info">+</button><input type="text" placeholder="Nouvelle Oeuvre"/></span>
	</div>
	<div>

	</div>
