<% if(!req.user) { %>

	
<% } else { %>
<nav class="navbar navbar-default navbar-static-top nav-menu" role="navigation">

		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".collapsable-nav">
					<span class="sr-only">Cacher le menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<span id="logo">Museion.io</span>
				</a>
			</div>



			<div class="collapse navbar-collapse collapsable-nav">
				<!-- Menu -->
				<ul class="nav navbar-nav" id="menu">
					<li>
						<a href="/oeuvre/list">Liste des oeuvres</a>
					</li>
					<li>
						<a href="/oeuvre/new">Nouvelle oeuvre</a>
					</li>
					<li>
						<a href="/account/logout">Deconnexion</a>
					</li>
					<li>
						<a href="/champs">Gestion des champs</a>
					</li>
				</ul>

				

			</div>
		</div>
	</nav>
<% } %>