
<div class="col-sm-6">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">pop</span>
            <span class="nom">Nom</span>
            <span class="type">type</span>
        </li>  
   
        <% champs.forEach(function(champ){ %>
            <li class="list-group-item">
            <span class="badge">x</span>
            <span class="nom" ><%- champ.nom %></span>
            <span class="type" ><%- champ.type %></span>
        </li> 
        <% });%>
    </ul> 

</div>
<div class="col-sm-4 well">
    <form method="POST" action="/champs/create" enctype='application/x-www-form-urlencoded'>
        <input placeholder="Nouveau champ" id="champs[nom]" name="champs[nom]"/>
        <select id="champs[type]" name="champs[type]" >
            <option value="info">Texte</option>
            <option value="date">Date</option>
            <option value="description">Texte long</option>
            <option value="lien">Lien</option>
        </select>
        <button type="submit" class="btn btn-info">Ajouter</button>
    </form>

</div>

<style type="text/css" scoped>
    @import url('/styles/champs.css')
</style>