<h2 class="text-success">Create role</h2>

<% form_for("role", {controller: '/role', action: '/create'}, function(f){ %>
	
	<%- f.hidden_field("id") %>

	

	<%- f.submit("Save", {class : 'btn btn-success'}) %>
<% }) %>

<%- link_to('back to list', '/role', {class : 'btn btn-primary'}) %>