<h2 class="text-info">Details</h2>
<fieldset>
    <legend>role</legend>

	

<%- link_to('edit', '/role/edit/'+role.id, {class : 'btn btn-warning'}) %>
</fieldset>

<%- link_to('back to list', '/role', {class : 'btn btn-primary'}) %>
