.text-justify {
  text-align: justify;
}
#wrapper {
  padding-left: 0px;
/*
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    */
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #2ecc71;
  color: #fff;
/*
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    */
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Ubuntu, sans-serif;
}
.sidebar-nav li {
  text-indent: 10px;
  line-height: 50px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}
ul.insideTheList {
  list-style-type: none;
}
ul.insideTheList li {
  margin-left: 10px;
  font-weight: normal;
  text-indent: 0px;
  line-height: 20px;
  font-size: 12px;
}
ul.insideTheList li.liAdd {
  line-height: 30px;
  margin-left: 0px;
}
.sidebar-nav input {
  width: 50%;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav li.bad {
  position: fixed;
  bottom: 0px;
  width: 250px;
}
.bad:hover {
  background-color: #cf000f;
}
.btnAdd {
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  height: 35px;
  width: 35px;
  margin: 0px;
/*background-color: #428BCA8*/
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btnAdd.btnAlone:hover:before {
  content: "Nouvelle Oeuvre";
}
.btnAdd.btnAlone:hover {
  width: 150px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.inputAdd {
  height: 30px;
  width: 150px !important;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 36px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #fff;
  font-family: Satisfy, cursive;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media (min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 10px;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
input {
  border: none;
  width: 100%;
  height: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f2f1ef;
  font-size: 15px;
}
textarea {
  border: none;
  padding: 1% 1% 1% 1%;
  background-color: #f2f1ef;
  outline: none;
  resize: none;
  min-height: 200px;
  width: 90%;
  overflow: auto;
}
textarea:focus {
  background-color: #f2f1ef;
  box-shadow: none;
  border: none;
  opacity: 0.9;
  border: 1px solid #abb7b7 !important;
}
div.invL {
  margin-left: 50px !important;
}
.invItems {
  margin: 12px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  opacity: 1;
  min-height: 60px;
  overflow: visible;
}
.invItems:hover {
  opacity: 0.9;
}
.invMisc input,
.invItems input {
  margin: 0px 0px 0px 0px;
  background-color: #f2f1ef;
  width: 100%;
  height: 100%;
  outline: none;
}
.invMisc input:focus,
.invItems input:focus {
  background-color: #f2f1ef;
  opcaity: 0.8;
  box-shadow: none;
  border: none;
}
.invItems.invCaroussel {
  min-height: 200px;
  border: 1px solid #000 !important;
  margin: 10px 0px 0px 0px;
}
.invMisc {
  margin: 10px 10px 10px 10px;
  min-height: 50px;
}
.propertyList {
  margin: 1% 1% 1% 1%;
}
p.invDescriptor,
p.invItemsDescriptor,
p.invMiscDescriptor {
  margin: 0px 0px 0px 0px;
  font-size: 12px;
  position: absolue;
  top: 0px;
  left: 0px;
}
input.invMiscValue {
  font-size: 15px;
  border: none;
}
input.invMiscValue:focus {
  border: none !important;
  border-shadow: none;
  opacity: 0.8;
}
.invObs {
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
}
#editMenu {
  background-color: none;
  min-width: 40px;
  min-height: 40px;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 10px;
  margin-right: 40px;
  z-index: 1000;
  opacity: 1;
}
button.btn.btn-museion {
  background-color: #2ecc71;
  color: #fff;
}
#editMenu button:hover {
  opacity: 0.5;
}
#editMenu select {
  background-color: #2ecc71;
  color: #fff;
  height: 35px;
  border: none;
}
#editMenu select:active {
  background-color: #2ecc71;
  color: #fff;
}
.spinner {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
.spinner.spinnerGreen {
  background-color: #2ecc71 !important;
  width: 100px;
  height: 100px;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-webkit-keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-o-keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@-ms-keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
tr.darkenOnHover {
  opacity: 1;
}
tr.darkenOnHover:hover {
  opacity: 0.5;
}
a.btn.btnAdd {
  background-color: navbarColor;
  color: navbarTextColor;
}
.loginContainer {
  margin-top: 10%;
  nargin-left: 25%;
  min-width: 25%;
  background-color: navbarColor;
  border: none;
  padding: 20px 20px 20px 20px;
}
form.flatForm input {
  border: none;
  background-color: #f2f1ef;
  color: #000;
}
#loginTitle {
  color: navbarTextColor;
  margin-bottom: 25px;
  font-family: Satisfy, cursive;
}
div#car.row {
  height: 300px;
}
div#carouselContainer {
  min-height: 100%;
  max-height: 300px !important;
  margin-top: 15px;
  margin-left: 15px;
  overflow: hidden;
}
form#imageUploadForm {
  background-color: none;
  margin-left: 40px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
@media  {
  img {
    width: auto;
    height: auto;
  }
}
.uploadImage {
  margin-top: 60px;
}
body {
  font-family: Ubuntu, sans-serif;
  min-height: 100%;
}
