@import "variables"
@import "helpers"
@import "menuWrapper"
@import "oeuvre"
/*@import "spinner"*/
/*@import "carousel"*/
/*@import "dossierOeuvre"*/

body 
	font-family: textFont
	min-height: 100%
	max-width : 100%
