.spinner {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  margin-left: 10px 
  background-color: #FFFFFF;

  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

.spinner.spinnerGreen
  background-color: menuColor !important
  width: 100px
  height: 100px

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 1;
  }
}