<!DOCTYPE html>
<html lang="fr">
  <head> 	
    <title>Museion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    
    <link rel="stylesheet" href="/styles/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/styles/animate.css">
    <link rel="stylesheet" type="text/css" href="/styles/application.css">
    <link href="/styles/bs-editable.css" rel="stylesheet">
  </head>
  <body>

	<div id="wrapper">

		<div id="sidebar-wrapper">
			<ul class="sidebar-nav"> 
				<li>
					
				<li>
				<li class="sidebar-brand">
					<a href="/">Museion</a>
				</li>

				<% if(req.user){ %>
				<li><a href="/oeuvre">Liste des Oeuvres</a> </li>
				<li>
				<ul>
					<li><a href="/oeuvre/auteur">Par auteurs(s)</a></li>
					<li><a href="/oeuvre/nom">Par nom</a></li>
				</ul>
				</li>
				<li>
					<a href="/oeuvre/new">Nouvelle oeuvre</a>
				</li>

				
				<li>Dossiers: </li>
				<li >
					<UL id="listDossier">

					</UL>
					
				</li>
				<li>
					
					<input type="text" placeholder="Nouveau dossier" id="folderName">		
					</input>
					<button class="btn btn-info" id="nouveauDossier">+</button>
					
					
				</li>
				
				<li>
					<a href="/account/logout">Déconnexion</a>
				</li>
				<% } %>
			</ul>
		</div>

		<div class="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<% if(flash !== undefined && flash != ""	){ %>
						<div class="alert alert-warning"><%-	 flash %>
						</div>
						<% } %>
						<%- body %>
					</div>
				</div>

			</div>
		</div>

	</div>	

	

		 		


<!-- fondamentale --> 
<script src="/scripts/vendors/jquery.js"></script>
<script src="/scripts/vendors/bootstrap.js"></script>
<script src="/scripts/bs-editable/bootstrap-editable.js"></script>

<!-- Wysiwyg -->
<script src="/scripts/tinymce/tinymce.min.js"></script>


<!-- Truc à moi --> 
<script src="/scripts/myFlatForms.js"></script>
<script src="/scripts/generic.js"></script>
<script src="/scripts/selection.js"></script>
	
  </body>
 
</html>