
<div class="row">
<form method="POST" action="/oeuvre/create" enctype='application/x-www-form-urlencoded'>
	
<div class="row">
	<!-- Menu fiche inventaire --> 
	<div id="editMenu">
		<button type="submit" class="btn btn-info">
			<span class="glyphicon glyphicon-floppy-save"></span>
		</button>

	</div>
	<div class="invL col-sm-8 col-sm-offset-1">
		<!-- Information fondamentale sticky si possible-->
		<div class="row">
			<div class="row">
				<div class="col-sm-4 invItems">
					<p class="invItemsDescriptor">Identifiant inventaire:</p>
					<input id="oeuvre[oeuvreId]" name="oeuvre[oeuvreId]" class="flatInput"></input>
				</div>
			</div>
			<div class="row">
			
				<div class="col-sm-4 invItems">
					<p class="invItemsDescriptor">Auteur: </p>
					<input id="oeuvre[auteur]" name="oeuvre[auteur]" class="flatInput" ></input>
				</div>
				<div class="col-sm-4 invItems">
					<p class="invItemsDescriptor">Désignation:</p>
					<input id="oeuvre[designation]" name="oeuvre[designation]" class="flatInput" ></input>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 invItems">
					<p class="invItemsDescriptor">Datation:</p>
					<input id="oeuvre[datation]" name="oeuvre[datation]" ></input>
				</div>
				<div class="col-sm-3 invItems">
					<p class="invItemsDescriptor">Matériaux:</p>
					<input id="oeuvre[materiaux]" name="oeuvre[materiaux]" v></input>
				</div>
				<div class="col-sm-3 invItems">
					<p class="invItemsDescriptor">Mesures:</p>
					<input id="oeuvre[mesures]" name="oeuvre[mesures]" ></input>
				</div>
			
			</div>
		</div>
</div>

<!-- Detail de l'inventaire --> 
<div class="row">
		<!-- autres info -->
		<div class="row">
			<div class="col-sm-5 invL invMisc">
				<table class="table propertyList">
					<tr>
						<th></th>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Provenance: 
							</p>
							<input id="oeuvre[provenance]" name="oeuvre[provenance]"></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Technique de réalisation: 
							</p>
							<input id="oeuvre[techniques]" name="oeuvre[techniques]" ></input> 
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								État: 
							</p>
							<input id="oeuvre[indicationEtat]" name="oeuvre[indicationEtat]"></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Marques et inscriptions: 
							</p>
							<input id="oeuvre[marquesInscription]" name="oeuvre[marquesInscription]" ></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								fonction d'usage: 
							</p>
							<input id="oeuvre[fonction]" name="oeuvre[fonction]" </input>
						</td>
					</tr>

				</table>
				
			</div>
			<div class="col-sm-5  col-offset-sm-1 invMisc">
				<table class="table propertyList">
					<tr>
						<th>
						</th>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Mode d'aquisition:
							</p>
							<input id="oeuvre[modeAcquisition]" name="oeuvre[modeAcquisition]" ></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Nom donateur/legs/vendeur:
							</p>
							<input id="oeuvre[nomDonnateur]" name="oeuvre[nomDonnateur]" ></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Date d'acquisition:
							</p>
							<input id="oeuvre[dateAcquisition]" name="oeuvre[dateAcquisition]" type="date" ></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Avis des instances scientifiques:
							</p>
							<input id="oeuvre[avisScientifique]" name="oeuvre[avisScientifique]" ></input>
						</td>
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Prix d'achat:
							</p>
							<input id="oeuvre[prix]" name="oeuvre[prix]" ></input>
						</td>
						
					</tr>
					<tr>
						<td>
							<p class="invMiscDescriptor">
								Date d'inscription à l'inventaire:
							</p>
							<input id="oeuvre[dateInscriptionInventaire]" name="oeuvre[dateInscriptionInventaire]" type="date" ></input>
						</td>
					</tr>
				</table>
			</div>

		</div>
		<!-- Observations --> 
		<div class="row">
			<div class="col-sm-10 invL invObs">
				<p class="invDescriptor">Observation:</p>
				<textarea id="oeuvre[observations]" name="oeuvre[observations]" class="desc wysiwyg"></textarea>
			</div>

		</div>
		

		
	</div>
</form>




