
<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
                type: 'get',
                dataType: 'json',
                timeout: 10000,
                url: '/oeuvreAPI/recentlyUpdated',
                beforeSend: function(){
                    $("#searchResultZone").addClass("spinner spinnerGreen");
                    $("#searchTable").hide().fadeOut();
                },
                success: function(results){
                    $("#searchResultZone").toggleClass("spinner spinnerGreen");
                    insertResults(results, 'résultat(s)');
                },
                error: function(err){
                    $("#searchResultZone").toggleClass("spinner spinnerGreen");
                    console.log("error: "+err.message);
                }

    });
});

</script>

<div class="col-lg-10 col-lg-offset-1" style="margin-top:10px;"> 

    <form method="post" class="form-horizontal" action="/search" id='searchForm'>

        <div class="form-group"> 
            <input class="input-xl" id="searchString" name="searchString" style="height:40px;" value="">

           
            
        </div>
        <button id="search" class="btn btn-info"  type="submit" >Rechercher</button>
    </form>



</div>


<table class="table table-striped" id="table">
    <thead>
        <tr>
            
            <td></td>
            <td>Numéro d'inventaire</td>

            <td>Désignation</td>
            
            <td>Auteur(s)</td>
            
            <td>Matériaux</td>
            
            <td>Technique(s)</td>
            
            <td>Datation</td>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

