<div ng-app="oeuvre" ng-init="id=<%-id%>">
<!--- MENU gestion des action sur l'oeuvre-->
	<div id="editMenu" ng-controller="oeuvreMenu as menu">

		<button type="submit" class="btn btn-info" ng-hide="menu.O.verrou">
			<span class="glyphicon glyphicon-floppy-disk"></span>
		</button>

		<button class="btn btn-success" 
				onClick="event.preventDefault();location.href='/oeuvre/new'"
				ng-show="menu.O.id">
			<span class="glyphicon glyphicon-plus"></span>
		</button>
		
		<button class="btn btn-danger"
				ng-hide="menu.O.verrou" 
				onClick="event.preventDefault();location.href='/oeuvre/verrouiller/<%-oeuvre.id %>'">
			<span class="glyphicon glyphicon-lock"></span>
		</button>
	
	</div>
<!-- TAB --> 
	

<!-- tab 1 -->
<!-- IMAGE -->
	

<!-- FORMULAIRE oeuvre -->

	<div ng-controller="oeuvreFormulaire as form">
		
	<div>

<!-- tab 2 --> 
<!-- Dossier oeuvre --> 

</div>